* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: rgb(213, 213, 213);
    color: #fff;
    padding: 1rem 0;
  }
  
  header h1 {
    text-align: center;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2, h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
  }
  
  footer p {
    margin: 5px 0;
  }
  